<div class="row feed" >
	<div class="col-md-3" >
		<div ng-hide="currentUser">
			<H2 style="color: #337AB7">Login</H2>
			<br>
			<input type="text" size="30" placeholder="Username" ng-model="username">
			<br><br>
			<input type="Password" size="30" placeholder="Password" ng-model="password">
			<br><br>
			<button type="button" class="btn btn-primary" ng-click="signin()">Sign in</button>
			<br><br>
			<a href="#/signup">Not a member? Signup</a>
		</div>
		<div ng-show="currentUser">
			<H2 style="color: #337AB7">Welcome</H2>
			<h4>Hi {{ currentUser}}, What's new?</h4>
			<a href ng-click="logout()">Logout.</a>

			<H2 style="color: #337AB7">Rooms</H2>
			<a href="#/room"> Create a new Meeting Room?</a>
		</div>	
		{{message.username}}
	</div>
	<div class="col-md-6">
		<div class="new-message" ng-show="currentUser">
			<input type="text" class="form-control" ng-model="newMessage" placeholder="Write a message!">
			<br>
			<button type="button" class="btn btn-primary" ng-click="SubmitNewMessage()">Send</button>
		</div>
		<h3 ng-repeat = "message in messages">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			{{ message.text }}
			<a href ng-click="removeMessage(message)"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			<BR>
			<small>{{message.username}}</small>
		</h3>
	</div>
	<div class = "col-md-3" style="background-color: #FAFAFA; border: 1px solid #337AB7">
		<H2 style="color: #337AB7">Tasks</H2>

		<h4>- #Tada</h4>
	</div>
</div>
