<div class="row feed">
	<div class="col-md-3" style="background-color: #FAFAFA; border: 1px solid #efefef">
		<H2 style="color: #337AB7">Welcome</H2>
			<h4>Hi {{ currentUser}}</h4>
			<a href ng-click="logout()">Logout.</a>

			<H2 style="color: #337AB7">Rooms</H2>
			<a href="#"> Write a name for Room</a>
			<input type="text" class="form-control" ng-model="roomName" placeholder="Write a Room Name">
			<button type="button" class="btn btn-secondary" style="margin-top:5px;" ng-click="AssignRoomName()">Send</button>
			<BR>
			<BR>
			<h4>Select from previous meeting rooms</h4>
			<ul class="list-group" >
				<li class="list-group-item" ng-repeat = "room in rooms">
					<a href="#" >{{ room.name || room.text }} </a>
				</li>
			</ul>
			
			<H2 style="color: #337AB7">People</H2>
			<input type="text" placeholder="username"></input>
			<button type="button" class="btn btn-secondary ">Invite</button>
			<BR><BR>
			<ul class="list-group" >
				<li class="list-group-item">
					<a href="#" >John </a>
				</li>
				<li class="list-group-item">
					<a href="#">Steve </a>
				</li>
				<li class="list-group-item">
					<a href="#" >jack</a>
				</li>
				<li class="list-group-item">
					<a href="#" >Claire</a>
				</li>

			</ul>
	</div>
	<div class="col-md-7" style="border: 1px solid #efefef">
<!-- 		<H2 style="color: #337AB7">Meeting Room Name</H2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat = "message in messages">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="#" >John</a>
					<p style="color: #736c66">{{ chatMessage.text }} </p>
				</li>
			</ul>
			<div class="new-message" ng-show="currentUser">
				<input type="text" class="form-control" ng-model="newChatMessage" placeholder="Write a message!">
				<br>
				<button type="button" class="btn btn-primary" ng-click="SubmitNewChatMessage()">Send</button>
			</div> -->	
		<div >
			<H2 style="color: #337AB7" >Meeting Room Name - {{ roomName }} {{ meetingRoomName }}</H2>
		</div>
		<!-- <div ng-show="roomName">
			<H2 style="color: #337AB7" >{{ roomName }}</H2>
		</div> -->
		
		<div style=" height: 400px;overflow: scroll; ">
			<ul class="list-group"  >
				<li class="list-group-item" ng-repeat = "chatMessage in chatMessages">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="#">{{ chatMessage.username }}</a>
					<BR>
					<small>{{ chatMessage.text }}</small>
					<BR>
					<small style="font-size: 10px;">{{ chatMessage.date }}</small>
				</li>
			</ul>
		</div>
		<div class="new-message" ng-show="meetingRoomName">
			<input type="text" class="form-control" ng-model="newChatMessage" placeholder="Write a message!">
			<br>
			<button type="button" class="btn btn-primary" ng-click="SubmitNewChatMessage()">Send</button>
			<BR>
			<small>Logged in as <a href=""> {{ currentUser}}</a></small>
		</div>
	</div>
	<div class = "col-md-2" style="background-color: #FAFAFA; border: 1px solid #efefef">
		<H2 style="color: #337AB7">Agenda</H2>

		<h4>- #Tada</h4>
	</div>
</div>
