.body{
	margin-top: 0px;
}
.feed{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	min-height: 1000px;
}
.feed h3{
	border: 1px solid #337AB7;
	padding: 20px;
}
.page-title{
	margin-left: 100px;	
}

.panel {
	background-color: #337AB7;
	text-color: white;
}
.panel-default
{
	background-color: #337AB7;
	text-color: white;	
}
.panel a{
	color: white;
}

/* Top Navigation START*/

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
/* Top Navigation END*/

/* Secondary Button START*/
.btn-secondary{
	background-color: #222;
	color: white;
}
.btn-secondary:hover{
	background-color: #000;
	color: white;
}

/* Buttons END*/



/* Side Navigation */
.rightside-nav {
        bottom: 0;

    }


@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        /*background-color: #222;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;

        /*background: url(images/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);*/
        background:  rgba(169,3,41,1);
        background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
        background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
        background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
        background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
        background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
    }

    .side-nav>li>a {
		color: white;
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        /*background-color: #000 !important;*/
        background-color: rgba(169,3,41,1);
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
.side-button{
    background-color: rgba(169,3,41,1);
    padding: 10px;
    margin: 0xp;
    border: 2px;
    color: white;
}


/* Side nav styling ENDS */



/* Page styling START*/
#wrapper {
    padding-left: 0;
}

#page-wrapper {
	margin-top: 0px;
    width: 100%;
	padding: 0px;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
		margin-top: -30px;
        padding: 10px;
    }
}

/* Page styling START*/


/* Feed styling START*/
.singlefeed{
	border: 1px solid #e3e3e3;
	padding: 20px;
	background-color: #fafafa;
	margin-top: 20px;
}
.username{
	color: #337AB7;
	font-size: 20px;
	padding-left: 5px;
}
.feedtext{
	font-weight: normal;
	font-size: 20px;
}
.new-message{
	border: 1px solid #e3e3e3;
	padding: 20px;
	width: 100%;
}
.feed-demo-image{
	border: 3px solid #fef3f3;
	margin-bottom: 5px;
	width: 100%;
}
.comments{
    margin-top: 10px;
    margin-left: 40px;
    border-top: 2px solid #f3f3f3;
    padding-top: 10px;
}



/* Feed styling ENDS*/

/* Profile Page Style Starts*/
.profile-heading{
    color: white;
    margin-top: -30px;
    height: 100px;
    text-align: center;

    
    background: rgba(216,3,53,1);
    background: -moz-linear-gradient(left, rgba(216,3,53,1) 0%, rgba(176,3,43,1) 44%, rgba(133,0,31,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,3,53,1)), color-stop(44%, rgba(176,3,43,1)), color-stop(100%, rgba(133,0,31,1)));
    background: -webkit-linear-gradient(left, rgba(216,3,53,1) 0%, rgba(176,3,43,1) 44%, rgba(133,0,31,1) 100%);
    background: -o-linear-gradient(left, rgba(216,3,53,1) 0%, rgba(176,3,43,1) 44%, rgba(133,0,31,1) 100%);
    background: -ms-linear-gradient(left, rgba(216,3,53,1) 0%, rgba(176,3,43,1) 44%, rgba(133,0,31,1) 100%);
    background: linear-gradient(to right, rgba(216,3,53,1) 0%, rgba(176,3,43,1) 44%, rgba(133,0,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d80335', endColorstr='#85001f', GradientType=1 );

    
}
.profile-row{
    /*padding: 10px 100px 10px 100px;*/
    margin: 50px;
    /*margin-top: -30px;*/
    /*background-color: #f7f7f7;*/
}
.profile-sidebar{
    /*background-color: #e7e7e7;*/
    text-align: center;
}
.profile-image{
    width: 350px;
    height: 350px;
}

/* Not Signed in  Style Starts*/
.signin{
    background-color: #f3f3f3;
    text-align: center;
    margin-top: -32px;
    height: 80%;
    padding: 20px;
}
/* Not Signed in Style Ends*/

/* Profile Page Style Ends*/

/* Landing Page Style Starts*/

/* Landing Page Style Ends*/

/* Login Page Style Starts*/

/* Login Page Style Ends*/

/* Signup Page Style Starts*/

/* Signup Page Style Ends*/

#scrollArea {
  height: 280px;
  overflow: auto;
}

#bottom {
  display: block;
  margin-top: 2000px;
}